.message-panel {
  text-align: end;
  overflow: auto;
  height: 400px;
}

.message {
  margin-top: 35px;
  word-wrap: break-word;

  /*margin-left: 40px;*/
  background-color: #eff8ff;
  /*width: 50%;*/
  /*text-align: end;*/
  padding-right: 10px;
  margin-left: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.message-time {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 6px;
}

.show-all {
  position: relative;
  left: 87%;
  font-size: 14px;
  margin-bottom: 12px;
}

.message-out {
  text-align: left;
  word-wrap: break-word;
  margin-left: 40px;
  background-color: #e9ffe7;
  width: 50%;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.icon {
  margin-left: 10px;
}