.driver-info-container {
  height: 128px;
  text-align: end;
}

.first-row {
  display: -webkit-inline-box;
}

.name {
  font-size: 24px;
  font-weight: 400;
}

.status {
  margin-right: 100px;
  font-size: 14px;
  color: #00000070;
}

.second-row {
  display: inline-flex;
  margin-top: 9px;
  font-size: 14px;
  font-style: italic;
}

.second-item {
  margin-right: 20px;
}

.schedule-row {

}

.rest-time {
  margin-left: 10px;
}

.schedule-subrow {
  margin-top: 6px;
  font-size: 13px;
}