body {
  margin: 0;
  /*margin: 0 auto;*/
  /*max-width: 989px;*/
  font-family: "Open Sans", Arial, sans-serif;
  overflow: auto;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
}

input, textarea {
  font-weight: 300;
}

.root___3bE66 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /*justify-content: center;*/
  /*align-items: center;*/
}

.content___3llKI {
  width: 960px;
  margin: 0 auto 40px;
  flex-grow: 1;
}
.chat-container___bQZfM {
  width: 40%;
  margin-left: 25%;
  margin-top: 40px;
  display: flex;

}
.drivers-list-container___1UjDu {
  width: 25%;
  overflow: auto;
  height: 500px;
}


.driver-row-container___1lzWO {
  /*size: 20px;*/
  text-align: right;
  margin-bottom: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
}

.driver-name___11Ztl {
  font-size: 17px;
  font-weight: 400;
}

.last-message___2mIqN {
  font-style: italic;
  font-size: 13px;
  margin-top: 7px;
}

.selected___33fuD {
  background-color: #769ad2e6;
  color: rgb(255,255,255);
}

.blinked___2sDJr {
  -webkit-animation: blink-animation___y3Z_1 1s infinite; /* Safari 4+ */
  -moz-animation:    blink-animation___y3Z_1 1s infinite; /* Fx 5+ */
  -o-animation:      blink-animation___y3Z_1 1s infinite; /* Opera 12+ */
  animation:         blink-animation___y3Z_1 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blink-animation___y3Z_1 {
  0%, 49% {
    background-color: #769ad2e6;
    color: white;
    /*border: 3px solid #e50000;*/
  }
  50%, 100% {
    background-color: rgb(255,255,255);
    /*border: 3px solid rgb(117, 209, 63);*/
  }
}
.cw-container___3HqoV {
  width: 70%;
}
.driver-info-container___2gec2 {
  height: 128px;
  text-align: end;
}

.first-row___3mI-b {
  display: -webkit-inline-box;
}

.name___1XB83 {
  font-size: 24px;
  font-weight: 400;
}

.status___3E4XE {
  margin-right: 100px;
  font-size: 14px;
  color: #00000070;
}

.second-row___mSnee {
  display: inline-flex;
  margin-top: 9px;
  font-size: 14px;
  font-style: italic;
}

.second-item___1ZXiR {
  margin-right: 20px;
}

.schedule-row___11FQe {

}

.rest-time___2YUdj {
  margin-left: 10px;
}

.schedule-subrow___2HqDS {
  margin-top: 6px;
  font-size: 13px;
}
.send-btn___2T3us {
    width: 20%;
    background-color: #769ad2e6;
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.input-msg___cCLvu {
    width:80%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
}

.input-container___3sMCY {
    display:flex;
}
.conv-placeholder___1cbYe {
  font-style: italic;
  font-size: 17px;
  text-align: end;
  margin-top: 69px
}
.message-panel___30zhd {
  text-align: end;
  overflow: auto;
  height: 400px;
}

.message___gHsv- {
  margin-top: 35px;
  word-wrap: break-word;

  /*margin-left: 40px;*/
  background-color: #eff8ff;
  /*width: 50%;*/
  /*text-align: end;*/
  padding-right: 10px;
  margin-left: 100px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.message-time___1CxNK {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 6px;
}

.show-all___2B8an {
  position: relative;
  left: 87%;
  font-size: 14px;
  margin-bottom: 12px;
}

.message-out___19OQN {
  text-align: left;
  word-wrap: break-word;
  margin-left: 40px;
  background-color: #e9ffe7;
  width: 50%;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.icon___2MFvF {
  margin-left: 10px;
}
