.send-btn {
    width: 20%;
    background-color: #769ad2e6;
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.input-msg {
    width:80%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
}

.input-container {
    display:flex;
}