.driver-row-container {
  /*size: 20px;*/
  text-align: right;
  margin-bottom: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
}

.driver-name {
  font-size: 17px;
  font-weight: 400;
}

.last-message {
  font-style: italic;
  font-size: 13px;
  margin-top: 7px;
}

.selected {
  background-color: #769ad2e6;
  color: rgb(255,255,255);
}

.blinked {
  -webkit-animation: blink-animation 1s infinite; /* Safari 4+ */
  -moz-animation:    blink-animation 1s infinite; /* Fx 5+ */
  -o-animation:      blink-animation 1s infinite; /* Opera 12+ */
  animation:         blink-animation 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blink-animation {
  0%, 49% {
    background-color: #769ad2e6;
    color: white;
    /*border: 3px solid #e50000;*/
  }
  50%, 100% {
    background-color: rgb(255,255,255);
    /*border: 3px solid rgb(117, 209, 63);*/
  }
}