:global(body) {
  margin: 0;
  /*margin: 0 auto;*/
  /*max-width: 989px;*/
  font-family: "Open Sans", Arial, sans-serif;
}

:global(*) {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
}

input, textarea {
  font-weight: 300;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  width: 960px;
  margin: 0 auto 40px;
  flex-grow: 1;
}